@model List<Blog>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>GameBlog</title>
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar")
        </header>
         <!-- Main Content-->
            <main>
            <div class="pagehead" style="background-image: url('../img/home-bg.jpg');">
                <div class="container" >
                <h1 style="color: white;">My Game Blog</h1>
                <span class="subheading" style="color: white;">Written By Toykan A</span>     
                </div>
            </div>
                <div class="container px-4 px-lg-5">
                 <div class="row gx-4 gx-lg-5">
                @foreach (var blog in Model)
                {
                   @await Html.PartialAsync("_List", blog)
                }
            </main>
        </div>
    </div>

</body>
</html>