@model List<Blog>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>GameBlog</title>
</head>
<body style="background-color: black;">
    <header>
        @await Html.PartialAsync("_Navbar")
        </header>
         <!-- Main Content-->
            <main>
            <div class="pagehead" style="background-image: url('../img/home-bg.jpg'); width:100%">
                <div class="container" >
                <h1 style="color: white;">My Game Blog</h1>
                <span class="subheading" style="color: white;">Written By Toykan A</span>     
                </div>
            </div>
                <div class="container px-4 px-lg-5">
                 <div class="row gx-4 gx-lg-5">
                @foreach (var blog in Model)
                {
                   @await Html.PartialAsync("_List", blog)
                   
                } 
                
        </div>
    </div>
    <div class="create-blog-btn">
        <a href="~/Home/CreateBlog" class="btn btn-primary" style="position: fixed; bottom:20px; right:20px;">Create Your Blog</a>
    </div>
</main>
</body>
</html>